#map {
    margin: auto;
    width: 100vh;
    height: 100vh;
}

#menuContainer {
    position: absolute;
    z-index: 9999;
    display: block;
    background-color: rgba(100, 100, 100, 0.2);
}

#menu {
    position: absolute;
    padding: 10px;
    opacity: 0.2;
}

.option {
    margin-bottom: 5px;
}

.option label {
    display: block;
}

.content {
    margin-top: 50px; /* Add margin to create space for the menu */
    padding: 10px;
    background-color: #fff;
}

#menuContainerHeader {
    border: 1px solid #d3d3d3;
    cursor: move;
}

.blueTruck {
    /* to black */
    filter: invert(1) sepia(1) saturate(0) hue-rotate(180deg);
    /* or to blue */
    /*filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);*/
}

.st4 {
    width: 35px;
    height: 35px;
}

.redTruck .st2 {
    fill: #FF0000;
}

.greenTruck .st2 {
    fill: #00FF00;
}

.blueTruck .st2 {
    fill: #0000FF;
}